@import "tailwindcss";

@layer base {
  html {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    background-color: #1a0409;
    color: #fdf2f4;
  }
  
  h1, h2, h3, h4, h5, h6, .font-serif {
    font-family: 'Playfair Display', serif;
  }

  .font-script {
    font-family: 'Great Vibes', cursive;
  }
}

